/.github/
/.vscode/
/examples/
/src/
/tests/
/.gitignore
/.prettierignore
/.release-it.json
/.release-plan.json
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/RELEASE.md
/ast-notes.md
/design.md
/eslint.config.mjs
/index.html
/pnpm-lock.yaml
/pnpm-workspace.yaml
/prettier.config.mjs
/tsconfig.json
/tsconfig.lint.json
/vite.config.ts
