# compiled output
/dist-for-testing/
/tmp/

# dependencies
/node_modules/

# misc
/.DS_Store
/.env*
/.eslintcache
/.git/
/.github/
/.gitignore
/.pnpm-debug.log
/.prettierignore
/.release-it.json
/.release-plan.json
/.vscode/
/src/
/tests/
/tests-vitest/
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/RELEASE.md
/ast-notes.md
/design.md
/eslint.config.mjs
/index.html
/pnpm-lock.yaml
/pnpm-workspace.yaml
/prettier.config.mjs
/tsconfig.build.json
/tsconfig.json
