/.github/
/.vscode/
/examples/
/src/
/tests/
/.eslintignore
/.eslintrc.cjs
/.gitignore
/.prettierignore
/.prettierrc.cjs
/.release-it.json
/.release-plan.json
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/RELEASE.md
/ast-notes.md
/design.md
/index.html
/pnpm-lock.yaml
/pnpm-workspace.yaml
/tsconfig.json
/tsconfig.lint.json
/vite.config.ts
