name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - run: pnpm lint

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['18', '20', '22', '24']

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - run: pnpm build

      - run: pnpm test:all


  test-prettier-versions:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        prettier-version: ['3.5.3', '3.6.0', '3.6.1', '3.6.2', '3.7.0', '3.7.1', '3.7.2', '3.7.3', 'latest']

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'

      - run: pnpm add -D prettier@${{ matrix.prettier-version }} -w

      - run: pnpm install --frozen-lockfile

      - run: pnpm build

      - run: pnpm test:all
